:root {
  --color-primary: #eeeeee;
  --color-primary-white: #ffffff;
  --color-primary-light: #f9f9f9;
  --color-primary-dark: rgb(33, 36, 41);
  --color-secondary-dark: rgba(53, 51, 51, 0.7);
  --color-brand-normal: #819b57;
  --color-brand-dark: #465929;
  --color-brand-yellow: #ff9f0e;

  --color-primary-brown: #31261a;
  --color-brand-light: #cfcfbc;

  --color-secondary: #a18268;
  --color-secondary-action: #970404;
  --color-secondary-brand: #0B6473;

  --color-secondary-text: #839aa9;

  --gradient: linear-gradient(180deg, #ffb73b 0%, #ff2525 74%);
  --radial-gradient: radial-gradient(circle at 50% -20.71%, #c9f3de 53.33%, #c5f3e3 56.67%, #c2f3e8 60%, #bff3ec 63.33%, #bdf3f1 66.67%, #bcf3f6 70%, #bcf3fa 73.33%, #bdf2fe 76.67%, #bef1ff 80%, #c1f0ff 83.33%, #c5efff 86.67%, #c9eeff 90%, #cdedff 93.33%, #d3ebff 96.67%, #d8eaff 100%);

  --error: red;
}
